<h1>Login</h1>
<p>Ingrese sus credenciales:</p>

<% if flash[:error] %>
	<div>
		<%= flash[:error] %>
	</div>
<% end %>

<%= form_for :session, url: login_path do |f| %>
	<div>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email%>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= button_tag type: "submit" do %>
			Login
		<% end %>
	</div>
<% end %>
