<tr>
	<td><%= order.id %> </td>
	<td><%= order.client %></td>
	<td>Lps. <%= order.total %> </td>
	<td><%= order.Quantity %></td>
	<td><%= format_date(rent.rent_start_at) %> </td>
	<td><%= format_date(rent.rent_end_at) %></td>
</tr>
