<h1>New Order</h1>
<p> <em> Ingrese los datos necesarios: </em> </p>

<% if @rent.errors.any? %>
  <div>
    Por favor corrija los siguientes problemas:
    <ul>
      <% @rent.errors.full_messages.each do |m| %>
        <li>
          <%= m %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@book, @order] do |f| %>
<div>
  <p>
    <%= f.label :client, "Cliente"%>
    <%= f.text_field :client%>
  </p>

  <p>
    <%= f.label :Quantity%>
    <%= f.number_field :Quantity%>
  </p>

  <p>
    <%= f.submit "Create", class:"btn btn-default btn-lg" %>
    <%= link_to "Cancel", book_path(@book.id), class:"btn btn-default btn-lg" %>
  </p>
</div>
<% end %>
